<%= turbo_frame_tag id="profile" do  %>
  <% if @user.profile && @user == current_user %>
    <%= turbo_frame_tag id="edit_profile" do %>
      <div>Name: <%= @user.profile.name %> </div>
      <div>Age: <%= @user.profile.age %> </div>
      <div>Bio: <%= @user.profile.bio %> </div>
      <%= link_to 'Edit Profile', edit_profile_path %> 
    <% end %>
  <% elsif @user.profile %>
    <div>Name: <%= @user.profile.name %> </div>
    <div>Age: <%= @user.profile.age %> </div>
    <div>Bio: <%= @user.profile.bio %> </div>
  <% elsif @user == current_user %>
    <%= link_to 'New Profile', new_profile_path %>
  <% end %>
<% end %>