<div class="container mt-3 mb-4 p-3 border shadow-sm rounded hover-shadow-dark" style="background-color: #fff">
  <div class="row">
    <%= image_tag tweet.author.gravatar_url(default: :mm),
                  :class => "gravatar-home"
    %>
    <div class="row col ps-1">
      <%= link_to "#{tweet.author.email}",user_path(tweet.author.id), 
                  :class => "fw-semibold text-primary text-decoration-none"
      %>
      <div class="d-flex justify-content-between">
        <p class="text-secondary" style="display: inline-block">
          <%= tweet.human_readable_created_at %>
        </p>

        <% if tweet.author == current_user %>
          <%= button_to tweet_path(tweet), 
                                  method: :delete, 
                                  data: { turbo_confirm: 'Are you sure?'},
                                  :class => "btn btn-sm text-secondary me-4 opacity-75 delete-button",
                                  style: "border: none" do
          %> 
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z" />
              </svg>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container mb-4">
      <p class="fs-5" style="word-wrap: break-word"><%= tweet.body %></p>
    </div>
    <div class="d-flex ms-2 ps-1 justify-content-between align-items-center">
      <div class="d-flex">
        <div class="button-field">
          <%= turbo_frame_tag id="tweet_#{tweet.id}", loading: :lazy do %>
            <% like = tweet.find_like(current_user) %>
            <% if tweet.liked_by?(current_user)%>
              <%= button_to 'Unlike',
                            tweet_like_path(tweet, like, like: {user_id: current_user.id, tweet_id: tweet.id}),
                            method: :delete
                            %>
            <% else %>
              <%= button_to 'like', tweet_likes_path(tweet, like: {user_id: current_user.id, tweet_id: tweet.id})%>
            <% end %>
          <% end %>
          <div class="d-flex justify-content-start align-items-center">
            <%= turbo_frame_tag id="tweet_#{tweet.id}_like_count" do %>
              <%= pluralize(tweet.likes.count, 'Like')%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="comment-field">
    <%= turbo_frame_tag id="tweet_#{tweet.id}_new_comment" do %>
      <%= link_to 'New Comment', new_tweet_comment_path(tweet.id), tweet: tweet %> <br>
      <%= render tweet.comments.ordered %>
    <% end %>
  </div>

</div>


<!--
<div class="tweet">
  <div class="body">
    <%= tweet.body %>
    <%= tweet.author.email %>
  </div> 
  
  <div class="button-field">
    <%= turbo_frame_tag id="tweet_#{tweet.id}", loading: :lazy do %>
      <% like = tweet.find_like(current_user) %>
      <% if tweet.liked_by?(current_user)%>
        <%= button_to 'Delete Like',
                      tweet_like_path(tweet, like, like: {user_id: current_user.id, tweet_id: tweet.id}),
                      method: :delete
                      %>
      <% else %>
        <%= button_to 'like', tweet_likes_path(tweet, like: {user_id: current_user.id, tweet_id: tweet.id})%>
      <% end %>
    <% end %>
  </div>
  
  <div class="comment-field">
    <%= turbo_frame_tag id="tweet_#{tweet.id}_like_count" do %>
      <%= pluralize(tweet.likes.count, 'Like')%>
    <% end %>
    
    <%= turbo_frame_tag id="tweet_#{tweet.id}_new_comment" do %>
      <%= link_to 'New Comment', new_tweet_comment_path(tweet.id), tweet: tweet %> <br>
      <%= render tweet.comments.ordered %>
    <% end %>
  </div>
  <% if tweet.author == current_user %>
    <%= button_to 'Delete', tweet_path(tweet.id), method: :delete, data: { turbo_confirm: 'Are you sure?'}  %>
  <% end %>
</div>
-->


