<%= turbo_frame_tag id="new_tweet" do %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @tweet, url: user_tweets_path(current_user), tweet: @tweet)  do |form| %>
    <%= form.text_area(:body, cols: 30, rows:10, placeholder: "Write and share your thoughts here!") %> <br>
    <%= form.submit %>
  <% end %>
<% end %>